
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" 
                         style="height:10px;" 
                         [style.width]="getPorcentaje"
                         role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" 
                                type="button"
                                (click)="cambiarValor(-5)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </span>
                    <input type="number" 
                           class="form-control" 
                           placeholder="Progreso"
                           [(ngModel)]="progreso">
                    <span class="input-group-btn">
                        <button class="btn btn-success" 
                                type="button"
                                (click)="cambiarValor(5)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                2
            </div>
        </div>
    </div>
</div>

