<div class="row">
    <div class="col-6">
        <app-dona [titulo]="'Ventas'"
                  [doughnutChartLabels]="['Enero' , 'Febrero' , 'Marzo']"
                  [arrayData]="[200 , 350 , 100]">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [titulo]="'Productos'"
                  [doughnutChartLabels]="['Mochila' , 'Laptop' , 'SmartWatch']"
                  [arrayData]="[386 , 120 , 94]">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [titulo]="'Grafica 3'"
                  [doughnutChartLabels]="['Producto 1' , 'Producto 2' , 'Producto 3']"
                  [arrayData]="[100 , 100 , 100]">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [doughnutChartLabels]="['Producto 1' , 'Producto 2' , 'Producto 3']"
                  [arrayData]="[138 , 276 , 500]">
        </app-dona>
    </div>

</div>
