<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div class="alert alert-info"
                     *ngIf="usuarios.length === 0">
                    <div class="mb-0">
                        No hay usuarios
                    </div>
                </div>

                <div class="table-responsive animated fadeIn"
                     *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>
                                    <img [src]="usuario.img! | imagen:'usuarios'"
                                         class="w75">
                                </td>
                                <td>{{usuario.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>

                <div class="alert alert-info"
                     *ngIf="medicos.length === 0">
                    <div class="mb-0">
                        No hay médicos
                    </div>
                </div>

                <div class="table-responsive animated fadeIn"
                     *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img [src]="medico.img! | imagen:'medicos'"
                                    class="w75">
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/medico/' , medico._id]">
                                        {{medico.nombre}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>

                <div class="alert alert-info"
                     *ngIf="hospitales.length === 0">
                    <div class="mb-0">
                        No hay hospitales
                    </div>
                </div>

                <div class="table-responsive animated fadeIn"
                     *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td>
                                    <img [src]="hospital.img! | imagen:'hospitales'"
                                    class="w75">
                                </td>
                                <td>{{hospital.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
